@import "~/styles/variables";

.link {
  &:hover {
    background-color: $pagination-focus-bg;
    color: var(--bs-primary);
  }
}

.information {
  bottom: 3.6em;
  color: var(--bs-primary);
  font-size: 75%;
  position: relative;
  z-index: -1;
}
