.container {
  position: fixed;
  inset: 0.5rem 0.5rem auto;
  z-index: 40;
  display: none;
  margin: 0 auto;
  background: rgb(var(--gray-600));
  border-radius: var(--rounded);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(var(--gray-700));
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity var(--transition),
    transform var(--transition);

  @media (width >= 48rem) {
    left: auto;
    width: 40%;
    margin: 0;

    @media (width >= 64rem) {
      width: 20%;
    }
  }
}

.show {
  display: flex;
}

.transition {
  opacity: 1;
  transform: scale(1);
}

.notification {
  display: flex;
  flex: 9;
  align-items: center;
  padding: 1rem 1.25rem;
  line-height: 1.6;
  color: rgb(var(--gray-100));
}

.close {
  align-self: flex-start;
  padding: 0.25rem;
  margin: 0.8rem 1rem 0 0;
  color: rgb(var(--gray-400));
  border-radius: var(--rounded);
  transition:
    background var(--transition),
    color var(--transition);

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-200));
      background: rgb(var(--gray-500));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-200));
    background: rgb(var(--gray-500));
  }
}
