.container {
  background: rgb(var(--gray-600));
  border-radius: var(--rounded);
  box-shadow: 0.1rem 0.1rem 0.1rem rgb(var(--gray-700));
  display: none;
  inset: 0.5rem 0.5rem auto;
  margin: 0 auto;
  opacity: 0;
  position: fixed;
  transform: scale(0.95);
  transition:
    opacity var(--transition),
    transform var(--transition);
  z-index: 40;
}

.show {
  display: flex;
}

.transition {
  opacity: 1;
  transform: scale(1);
}

@media (width >= 48rem) {
  .container {
    left: auto;
    margin: 0;
    width: 40%;
  }
}

@media (width >= 64rem) {
  .container {
    width: 20%;
  }
}

.notification {
  align-items: center;
  color: rgb(var(--gray-100));
  display: flex;
  flex: 9;
  line-height: 1.6;
  padding: 1rem 1.25rem;
}

.close {
  align-self: flex-start;
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
  margin: 0.8rem 1rem 0 0;
  padding: 0.25rem;
  transition:
    background var(--transition),
    color var(--transition);
}

@media (any-hover: hover) {
  .close:hover {
    background: rgb(var(--gray-500));
    color: rgb(var(--gray-200));
  }
}

.close:active,
.close:focus-visible {
  background: rgb(var(--gray-500));
  color: rgb(var(--gray-200));
}
