.description {
  margin: 1rem 0 0;
}

.link {
  align-items: center;
  box-shadow: 0 1px 0 0 currentcolor;
  display: inline-flex;
  gap: 0.25rem;
  line-height: 1.2;
}

.icon {
  height: 1rem;
  width: 1rem;
}
