.container {
  margin: 2rem 0 0;
}

.code {
  display: flex;
  justify-content: center;
  font-family: var(--font-mono);
  font-size: var(--text-4xl);
  font-weight: 700;
}

.fieldset {
  margin: 2rem 0 0;

  @media (width >= 48rem) {
    width: 50%;
    margin: 2rem auto 0;
  }
}

.message {
  margin: 0.25rem auto 0;
  color: rgb(var(--gray-400));

  @media (width >= 48rem) {
    width: 50%;
    margin: 0.25rem auto 0;
    color: rgb(var(--gray-400));
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0 0;
}

.button {
  width: 100%;
  user-select: none;

  @media (width >= 48rem) {
    width: 25%;
  }
}
