.container {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-family: var(--font-mono);
  font-size: var(--text-sm);
  font-weight: 700;
  color: rgb(var(--gray-600));
  background: rgb(var(--gray-200));
  border-radius: var(--rounded-full);
  box-shadow: 0.05rem 0.05rem 0.05rem rgb(var(--gray-300));

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-300));
      box-shadow: 0.05rem 0.05rem 0.05rem rgb(var(--gray-400));
    }
  }

  &:is(:active, :focus-visible) {
    background: rgb(var(--gray-300));
    box-shadow: 0.05rem 0.05rem 0.05rem rgb(var(--gray-400));
  }
}

.main {
  border-radius: var(--rounded-full);
}

.text {
  margin: 0 0 0 0.4rem;
}
