.container {
  background: rgb(var(--gray-200));
  box-shadow: 0 0.05rem 0.1rem rgb(var(--gray-300));
  inset: 0 auto auto 0;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navigation {
  align-items: center;
  display: flex;
  padding: 1rem 1.5rem;
}

@media (width >= 768px) {
  .navigation {
    margin: 0 auto;
    max-width: 768px;
    padding: 1rem;
  }
}

.brandLink {
  font-size: 1.4rem;
  font-weight: 900;
}

.storybookLink {
  align-items: center;
  border-radius: var(--rounded);
  color: rgb(var(--gray-500));
  display: inline-flex;
  font-size: var(--text-sm);
  gap: 0.25rem;
  margin: 0 0 0 auto;
  transition:
    background var(--transition),
    color var(--transition);
}

@media (width >= 768px) {
  .storybookLink {
    font-size: var(--text-base);
    padding: 0.25rem 1rem;
  }
}

@media (any-hover: hover) {
  .storybookLink:hover {
    background: rgb(var(--gray-300));
    color: rgb(var(--gray-600));
  }
}

.storybookLink:active,
.storybookLink:focus-visible {
  color: rgb(var(--gray-600));
}

@media (width >= 768px) {
  .storybookLink:active,
  .storybookLink:focus-visible {
    background: rgb(var(--gray-300));
  }
}

.storybookLinkIcon {
  height: 1.125rem;
  width: 1.125rem;
}
