.container {
  position: fixed;
  inset: 0 auto auto 0;
  z-index: 10;
  width: 100%;
  background: rgb(var(--gray-200));
  box-shadow: 0 0.05rem 0.1rem rgb(var(--gray-300));
}

.navigation {
  display: flex;
  align-items: center;
  padding: 1rem 1.5rem;

  @media (width >= 48rem) {
    max-width: 48rem;
    padding: 1rem;
    margin: 0 auto;
  }
}

.brandLink {
  font-size: 1.4rem;
  font-weight: 900;
}

.storybookLink {
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  margin: 0 0 0 auto;
  font-size: var(--text-sm);
  color: rgb(var(--gray-500));
  border-radius: var(--rounded);
  transition:
    background var(--transition),
    color var(--transition);

  @media (width >= 48rem) {
    padding: 0.25rem 1rem;
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-600));
      background: rgb(var(--gray-300));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-600));
    background: rgb(var(--gray-300));
  }
}

.storybookLinkIcon {
  width: 1.125rem;
  height: 1.125rem;
}
