.group {
  align-items: center;
  background: rgb(var(--gray-200));
  border-radius: var(--rounded);
  display: inline-flex;
  gap: 0.75rem;
  padding: 0.75rem 1.25rem;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}
