.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.25rem;
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: 1.2;
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
  border: none;
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.1rem 0 rgb(var(--gray-400));
  transition: background var(--transition);

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    background: rgb(var(--gray-700));
  }

  &:disabled {
    pointer-events: none;
    background: rgb(var(--gray-500));
  }
}
