.container {
  align-items: center;
  background: rgb(var(--gray-600));
  border: none;
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.1rem 0 rgb(var(--gray-400));
  color: rgb(var(--gray-100));
  display: flex;
  font-size: var(--text-sm);
  font-weight: 700;
  justify-content: center;
  line-height: 1.2;
  padding: 0.8rem 1.25rem;
  transition: background var(--transition);

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-700));
    }
  }

  &:active,
  &:focus-visible {
    background: rgb(var(--gray-700));
  }

  &:disabled {
    background: rgb(var(--gray-500));
    pointer-events: none;
  }
}
