.badges {
  display: flex;
  gap: 1rem;
  margin: 3rem 0 0;
}

.modal {
  border-radius: var(--rounded);
  inset: 1rem 0 0;
  margin: 0 auto;
  position: fixed;
  transition: var(--transition);
  width: 90%;
}

@media (min-width: 768px) {
  .modal {
    top: 2rem;
    width: 35rem;
  }
}

.modal::backdrop {
  background: rgb(0 0 0 / 30%);
  transition: var(--transition);
}

.transition {
  opacity: 0;
  translate: 0 -100%;
}

.transition::backdrop {
  opacity: 0;
}

.closeContainer {
  display: flex;
  justify-content: flex-end;
}

.close {
  background: rgb(var(--gray-300));
  border-radius: var(--rounded);
  color: rgb(var(--gray-400));
}

@media (any-hover: hover) {
  .close:hover {
    color: rgb(var(--gray-600));
  }
}

.close:active,
.close:focus-visible {
  color: rgb(var(--gray-600));
}

.image {
  aspect-ratio: 16 / 9;
  font-size: var(--text-3xl);
  margin: 0.25rem 0 0;
}

@media (min-width: 768px) {
  .image {
    font-size: var(--text-4xl);
  }
}
