.container {
  display: flex;
  line-height: 1.4;
  background: rgb(var(--gray-200));
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.05rem rgb(var(--gray-300));
  transition: opacity var(--transition);
}

.type {
  margin: 1rem -0.5rem 0 1rem;
}

.typeIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.main {
  display: flex;
  flex: 9;
  flex-flow: column;
  gap: 0.5rem;
  padding: 1rem 1.25rem;
  line-height: 1.6;
  color: rgb(var(--gray-600));
}

.close {
  align-self: flex-start;
  padding: 0.25rem;
  margin: 0.8rem 0.8rem 0 0;
  color: rgb(var(--gray-500));
  border-radius: var(--rounded);
  transition: background var(--transition);

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-600));
      background: rgb(var(--gray-300));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-600));
    background: rgb(var(--gray-300));
  }
}
