.container {
  background: rgb(var(--gray-200));
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.05rem rgb(var(--gray-300));
  display: flex;
  line-height: 0;
  transition: opacity var(--transition);
}

.type {
  margin: 1.2rem -0.5rem 0 1rem;
}

.typeIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.main {
  color: rgb(var(--gray-600));
  display: flex;
  flex: 9;
  flex-flow: column;
  gap: 0.5rem;
  line-height: 1.6;
  padding: 1rem 1.25rem;
}

.close {
  align-self: flex-start;
  border-radius: var(--rounded);
  color: rgb(var(--gray-500));
  margin: 0.6rem 0.75rem 0 0;
  padding: 0.25rem;
  transition: background var(--transition);
}

@media (hover: hover) and (pointer: fine) {
  .close:hover {
    background: rgb(var(--gray-300));
    color: rgb(var(--gray-600));
  }
}

.close:active,
.close:focus-visible {
  background: rgb(var(--gray-300));
  color: rgb(var(--gray-600));
}
