.buttonGroup {
  margin: 2rem 0 0;
}

.button {
  width: 25%;
  user-select: none;
}

.textImage {
  margin: 1rem 0 0;
  font-size: var(--text-4xl);
  font-weight: 700;
  transition: aspect-ratio var(--transition);

  @media (width >= 48rem) {
    font-size: calc(var(--text-4xl) * 2);
  }
}
