.button {
  padding: 0.8rem 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  color: rgb(var(--gray-100));
  user-select: none;
  background: rgb(var(--gray-600));
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.1rem 0 rgb(var(--gray-400));
}

.tooltip {
  color: rgb(var(--gray-100));
  background: rgb(var(--blue));
}
