.container {
  position: relative;
  display: inline-block;
}

.button {
  user-select: none;
}

.tooltip {
  position: absolute;
  z-index: 10;
  visibility: hidden;
  padding: 0.5rem 1rem;
  font-weight: 600;
  text-wrap: nowrap;
  border-radius: var(--rounded);
  opacity: 0;
  transition:
    opacity var(--transition),
    visibility var(--transition);

  @media (any-hover: hover) {
    .button:not(:disabled):hover + & {
      visibility: visible;
      opacity: 1;
    }
  }

  .button:not(:disabled):focus-visible + & {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    position: absolute;
    z-index: -1;
    width: 1rem;
    height: 1rem;
    content: "";
    background: inherit;
    border-radius: 0.125rem;
    rotate: 45deg;
  }
}

.top {
  inset: auto auto 100% 50%;
  translate: -50% -0.75rem;

  &::before {
    inset: 100% auto auto 50%;
    translate: -50% -0.75rem;
  }
}

.right {
  inset: 50% auto auto 100%;
  translate: 0.625rem -50%;

  &::before {
    inset: 50% 100% auto auto;
    translate: 0.75rem -50%;
  }
}

.bottom {
  inset: 100% auto auto 50%;
  translate: -50% 0.625rem;

  &::before {
    inset: auto auto 100% 50%;
    translate: -50% 0.75rem;
  }
}

.left {
  inset: 50% 100% auto auto;
  translate: -0.625rem -50%;

  &::before {
    inset: 50% auto auto 100%;
    translate: -0.75rem -50%;
  }
}
