.list {
  display: flex;
  flex-flow: column;
  gap: 0.25rem;
  list-style: none;
  margin: 2rem 0 0;
  padding: 0;
}

.item {
  font-size: 2rem;
  font-weight: 800;
}

.link {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  margin: 0 -1.5rem;
  padding: 0.25rem 1.5rem;
  transition:
    background var(--transition),
    color var(--transition);
}

@media (width >= 768px) {
  .link {
    border-radius: var(--rounded);
    display: inline-flex;
    margin: 0 0 0 -1.5rem;
  }
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-200));
    color: rgb(var(--gray-800));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-200));
  color: rgb(var(--gray-800));
}

.linkIcon {
  color: rgb(var(--gray-500));
  height: 1.25rem;
  width: 1.25rem;
}
