.container {
  align-items: flex-end;
  border: 3px solid rgb(var(--gray-600));
  border-radius: var(--rounded);
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 3rem 0 0;
  padding: 1rem;
}

.reload {
  user-select: none;
  width: 28%;
}

@media (width >= 48rem) {
  .reload {
    width: 15%;
  }
}

.alert {
  width: 100%;
}
