.container {
  align-items: flex-end;
  border-radius: var(--rounded);
  border: 3px solid rgb(var(--gray-600));
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 3rem 0 0;
  padding: 1rem;
}

.reload {
  width: 28%;
}

@media (min-width: 768px) {
  .reload {
    width: 15%;
  }
}

.alert {
  width: 100%;
}
