.container {
  display: inline-block;
  line-height: 1.8;

  &::details-content {
    opacity: 0;
    translate: 0;
    transition:
      opacity var(--transition),
      translate var(--transition),
      content-visibility var(--transition) allow-discrete;
  }

  &[open]::details-content {
    opacity: 1;
    translate: 0 0.25rem;
  }
}

.button {
  font-size: var(--text-sm);
  font-weight: 700;
  -webkit-user-select: none;
  user-select: none;
  border-radius: var(--rounded);

  @media (width >= 48rem) {
    font-size: var(--text-base);
  }
}

.labelContainer {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}

.caret {
  width: 1rem;
  height: 1rem;
}

.dots {
  width: 1rem;
  height: 1rem;
}

.content {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-flow: column;
  min-width: 10rem;
  max-height: 20rem;
  padding: 0.5rem;
  overflow: scroll;
  background: rgb(var(--gray-200));
  border: 1px solid rgb(var(--gray-300));
  border-radius: var(--rounded);
}
