.container {
  padding: 1rem;
  margin: 3rem 0 0;
  border: 3px solid rgb(var(--gray-500));
  border-radius: var(--rounded);
}

.button {
  width: 35%;
  user-select: none;

  @media (width >= 48rem) {
    width: 25%;
  }
}

.alert {
  margin: 1rem 0.05rem 0.05rem 0;
}
