.container {
  border: 3px solid rgb(var(--gray-500));
  border-radius: var(--rounded);
  margin: 3rem 0 0;
  padding: 1rem;
}

.button {
  user-select: none;
  width: 35%;
}

@media (width >= 48rem) {
  .button {
    width: 25%;
  }
}

.alert {
  margin: 1rem 0.05rem 0.05rem 0;
}
