.description {
  margin: 3rem 0 0;
  color: rgb(var(--gray-400));
}

.buttonGroup {
  width: 100%;
  margin: 0.75rem 0 0;

  @media (width >= 48rem) {
    width: 50%;
  }
}

.button {
  width: 100%;
  user-select: none;
}

.switch {
  margin: 0.75rem 0 0;
}

.tooltipContainer {
  display: flex;
  justify-content: center;
  margin: 4rem 0 0;
}

.tooltipButton {
  padding: 0.8rem 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.1rem 0 rgb(var(--gray-400));
  transition: background var(--transition);

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    background: rgb(var(--gray-700));
  }
}

.tooltip {
  color: rgb(var(--gray-100));
  background: rgb(var(--green));
}

.tooltipPermanent {
  visibility: visible;
  opacity: 1;
}
