.container {
  border-radius: var(--rounded);
  border: 3px solid rgb(var(--gray-500));
  margin: 3rem 0 0;
  padding: 1rem;
}

.button {
  width: 35%;
}

@media (min-width: 768px) {
  .button {
    width: 25%;
  }
}

.alert {
  margin: 1rem 0.05rem 0.05rem 0;
}
