.container {
  margin: 2rem 0 0;
  font-size: var(--text-3xl);
  font-weight: 800;
  line-height: 1.2;
  color: rgb(var(--gray-700));

  @media (width >= 48rem) {
    font-size: var(--text-4xl);
  }
}
