.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 0 0;
}

.dropdown {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
  padding: 0.5rem 1rem;
  transition: background var(--transition);
}

@media (hover: hover) and (pointer: fine) {
  .dropdown:hover {
    background: rgb(var(--gray-700));
  }
}

.dropdown:active,
.dropdown:focus-visible {
  background: rgb(var(--gray-700));
}

.letters {
  display: flex;
  font-family: var(--font-mono);
  font-weight: 700;
  gap: 0.25rem;
  justify-content: center;
  margin: 2rem 0 0;
}

.letter {
  background: rgb(var(--gray-100));
  border-radius: var(--rounded);
  padding: 0.25rem 0.5rem;
}

.marked {
  background: rgb(var(--blue) / 50%);
  border-radius: var(--rounded);
  padding: 0.25rem 0.5rem;
}
