.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 0;
}

.dropdown {
  padding: 0.5rem 1rem;
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
  transition: background var(--transition);

  @media (any-hover: hover) {
    &:hover {
      background: rgb(var(--gray-700));
    }
  }

  &:is(:active, :focus-visible) {
    background: rgb(var(--gray-700));
  }
}

.letters {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  margin: 2rem 0 0;
  font-family: var(--font-mono);
  font-weight: 700;
}

.letter {
  padding: 0.25rem 0.5rem;
  background: rgb(var(--gray-100));
  border-radius: var(--rounded);
}

.marked {
  padding: 0.25rem 0.5rem;
  background: rgb(var(--blue) / 50%);
  border-radius: var(--rounded);
}
