.list {
  display: flex;
  gap: 0.25rem;
}

@media (min-width: 768px) {
  .list {
    gap: 1rem;
  }
}

.item {
  width: 25%;
}

.link {
  align-items: center;
  background: transparent;
  border-radius: var(--rounded);
  color: rgb(var(--gray-600));
  display: flex;
  flex-flow: column;
  font-size: var(--text-sm);
  font-weight: 600;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  transition:
    background var(--transition),
    color var(--transition);
}

@media (min-width: 768px) {
  .link {
    font-size: var(--text-base);
    padding: 0.8rem 1.25rem;
  }
}

@media (hover: hover) and (pointer: fine) {
  .link:hover {
    background: rgb(var(--gray-300));
    color: rgb(var(--gray-800));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-300));
  color: rgb(var(--gray-800));
}

.link[aria-disabled="true"] {
  color: rgb(var(--gray-400));
  pointer-events: none;
}
