.container {
  background: rgb(var(--gray-200));
  border-radius: var(--rounded);
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin: 4rem 0 0;
  padding: 1.5rem;
}

.header {
  align-self: flex-start;
  border-bottom: 1px solid rgb(var(--gray-600));
  color: rgb(var(--gray-600));
  display: flex;
  font-weight: 600;
  gap: 0.25rem;
}

.main {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin: 0.5rem 0 0;
}

.link {
  align-items: center;
  background: rgb(var(--gray-300));
  border-radius: var(--rounded-full);
  display: inline-flex;
  font-size: 0.925rem;
  font-weight: 500;
  gap: 0.15rem;
  padding: 0.5rem 1.25rem;
}

@media (any-hover: hover) {
  .link:hover {
    background: rgb(var(--gray-600));
    color: rgb(var(--gray-100));
  }
}

.link:active,
.link:focus-visible {
  background: rgb(var(--gray-600));
  color: rgb(var(--gray-100));
}

.linkIcon {
  height: 1rem;
  width: 1rem;
}

.footer {
  color: rgb(var(--gray-500));
  display: flex;
  font-size: 0.925rem;
  justify-content: flex-end;
  margin: 1rem 0 -0.5rem;
}

.footerLink {
  align-items: center;
  display: inline-flex;
  gap: 0.15rem;
  text-decoration: underline;
}

.footerLinkIcon {
  height: 1rem;
  width: 1rem;
}
