.container {
  display: flex;
  flex-flow: column;
  margin: 3rem 0 0;
  background: rgb(var(--gray-200));
  border: 0.25rem solid rgb(var(--gray-600));
  border-radius: var(--rounded);
}

.tabsContainer {
  display: flex;
}

.tabs {
  padding: 0.5rem 0 0.5rem 0.5rem;
  overflow: scroll;
  overscroll-behavior: contain auto;
  white-space: nowrap;

  &::after {
    margin: 0 1rem 0 0;
    content: "";
  }
}

.tabsMask {
  mask-image: linear-gradient(
    to left,
    rgb(0 0 0 / 0%),
    rgb(0 0 0 / 100%) 10%,
    rgb(0 0 0 / 100%) 90%,
    rgb(0 0 0 / 0%)
  );
}

.tabsMaskLeft {
  mask-image: linear-gradient(
    to left,
    rgb(0 0 0 / 100%),
    rgb(0 0 0 / 100%) 90%,
    rgb(0 0 0 / 0%)
  );
}

.tabsMaskRight {
  mask-image: linear-gradient(
    to right,
    rgb(0 0 0 / 100%),
    rgb(0 0 0 / 100%) 90%,
    rgb(0 0 0 / 0%)
  );
}

.tab {
  display: inline-block;
  margin: 0 0 0 0.5rem;
}

.tabsHint {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: rgb(var(--gray-600));
}

.tabsHintIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: rgb(var(--gray-100));

  @media (width >= 48rem) {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.button {
  padding: 0.6rem 1rem 0.5rem;
  font-weight: 600;
  line-height: 1;
  user-select: none;
  border-radius: var(--rounded);
  transition:
    background var(--transition),
    color var(--transition);

  @media (any-hover: hover) {
    &:hover {
      color: rgb(var(--gray-800));
      background: rgb(var(--gray-300));
    }
  }

  &:is(:active, :focus-visible) {
    color: rgb(var(--gray-800));
    background: rgb(var(--gray-300));
  }

  &:disabled {
    pointer-events: none;
  }
}

.active {
  color: rgb(var(--gray-100));
  background: rgb(var(--gray-600));
}

.content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  border-top: 0.25rem solid rgb(var(--gray-600));
}

.city {
  font-size: 1.5rem;
  font-weight: 900;

  @media (width >= 48rem) {
    font-size: 2rem;
  }
}

.time {
  font-family: var(--font-mono);
  font-size: 3rem;
  font-weight: 900;

  @media (width >= 48rem) {
    font-size: 4rem;
  }
}

.description {
  font-size: var(--text-sm);

  @media (width >= 48rem) {
    font-size: 1.125rem;
  }
}
