.container {
  position: relative;
  display: flex;
  gap: 0.125rem;
  width: fit-content;
  padding: 0.25rem;
  user-select: none;
  background: rgb(var(--gray-200));
  border-radius: var(--rounded);
  box-shadow: 0.05rem 0.05rem 0.1rem 0 rgb(var(--gray-300));
}

.on,
.off {
  min-width: 5rem;
  padding: 0.6rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  transition:
    background var(--transition),
    color var(--transition);
}

.off {
  border-radius: 0.375rem 0 0 0.375rem;

  .container[aria-checked="false"] & {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-600));
  }

  .container[aria-checked="true"] & {
    color: rgb(var(--gray-400) / 75%);
    background: rgb(var(--gray-300));
  }
}

.on {
  border-radius: 0 0.375rem 0.375rem 0;

  .container[aria-checked="false"] & {
    color: rgb(var(--gray-400) / 75%);
    background: rgb(var(--gray-300));
  }

  .container[aria-checked="true"] & {
    color: rgb(var(--gray-100));
    background: rgb(var(--gray-600));
  }
}
