@import "../../../_styles/variables";

.clickable {
  &:hover {
    background-color: $pagination-focus-bg;
  }
}

.information {
  bottom: 3.7em;
  color: var(--bs-primary);
  font-family: var(--bs-font-monospace);
  font-size: 75%;
  position: relative;
  z-index: -1;
}
